<!DOCTYPE html>
<html>
<head>
    <title>View Full Quote</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    ##[if lte IE 9]><script type="text/javascript">window.location.href = 'update-browser.html';</script><![endif]*#
	#*引入CSS*#
	<style>
		body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
        html{font-size: 100%;}
        body { background:#fff; color:#171717;font-family:"Arial","Helvetica","sans-serif";line-height: 1.5em;font-size:1em;}
        td,th,caption { }
        h1, h2, h3, h4, h5, h6 { font-weight:normal;}

		#*banner*#
        .myOrderbanner2{
        	position:relative;
        }
        .myOrderbanner2 img{
        	width:100%;
        	height:auto;
        	background-size: cover;	
        }
        .myMiddleText{
        	position:absolute;
        	left:50%;
        	top:50%;
        	transform: translate(-50%,-50%);
        	color: #fff;
        	font-size: 2em;
        	font-weight: 500;
        }
        
        #*main*#
        .order2-main{
        	padding:6.25em 0 10em 0;
        }
        
        #*线*#
        .mynewline .mynewline-left{
        	float:left;
        	width:42.25%;
        	height:2px;
        	border-top:2px solid #999999;
        	margin-top:10px;
        }
        .mynewline .mynewline-middle{
        	float:left;
        	width:15%;
        	text-align: center;
        }
        
        .mynewline .mynewline-right{
        	float:left;
        	width:42.25%;
        	height:2px;
        	border-top:2px solid #999999;
        	margin-top:10px;
        }
        #*第一部份表格*#
        .order2-main-table{
        	padding:2em 0 4em 0;
        }
        .order2-main-table table{
        	width:100%;
        	text-align: center;
        	border-collapse: collapse;
        	border-spacing: 0px;
        	border:1px solid #fff;
        }
        
        .order2-main-table table thead{
        	background:#fddad4;
        	
        }
        .order2-main-table table thead td{
        	border:2px solid #fff;
        	padding:.7em 0;
        	border-radius: 6px;
        }
        
        .order2-main-table table tbody{
        	background:#f7f7f7;
        }
        
        .order2-main-table table tbody td{
        	border:2px solid #fff;
        	padding:1em 0;
        	border-radius: 6px;
        }
        .myTextBox{
        	margin:2em 0em 6em 0em;
        	padding:1em 0 2em 1em;
        	border:1px solid #999;
        }
        .myTextBox p{
        	padding:.5em 0;
        }
        
        
        #*线*#
        .mynewline1{
        	margin-bottom:4em;
        }
        .mynewline1 .mynewline1-left{
        	float:left;
        	width:35%;
        	height:2px;
        	border-top:2px solid #999999;
        	margin-top:10px;
        }
        .mynewline1 .mynewline1-middle{
        	float:left;
        	width:30%;
        	text-align: center;
        }
        
        .mynewline1 .mynewline1-right{
        	float:left;
        	width:35%;
        	height:2px;
        	border-top:2px solid #999999;
        	margin-top:10px;
        }
        .hasred{
        	color: #e03e25;
        }
        
        .download{
        	background:#e03e25;
        	padding:1em 2em;
        	color: #fff;
        	cursor: pointer;
        	border-radius: 6px;
        	font-size: 1.2em;
        	display: block;
        	width:15em;
        	margin: 0 auto;
        }
        .download img{
        	margin-right:1em;
        }
        .download:hover{
        	background:#f82e0f;
        	color: #fff;
        }
	</style>
</head>
	
<body>
	<div class="warp">
        #*banner*#
        <div class="myOrderbanner2">
        	<img src="$!httpHost/images/myorder/images/myorder2-banner.jpg"/>
        	<h3 class="myMiddleText">VIEW FULL QUOTE</h3>
        </div>
        
        #*main *#
        <div class="order2-main container">
        	<div class="mynewline clearfix">
        		<div class="mynewline-left"></div>
        		<div class="mynewline-middle"><h3>FULL QUOTE</h3></div>
        		<div class="mynewline-right"></div>
        	</div>
        	
        	<div class="order2-main-table">
        		<table>
        			<thead>
        				<tr>
        					<td>FILE NAME/URLFILE NAME/URL</td>
        					<td>TURNAROUND AND PRICES</td>
							<td>OPTIONS</td>
        					<td>FILE SIZE</td>
        					<td>LENGTH</td>
        					<td>DELIVERY DATE</td>
        				</tr>
        			</thead>
        			<tbody>
						#set($mdOrderFileList = $orderDetail.mdOrderFileListOrg)
						#set($orderSize = $mdOrderFileList.size()) 
						#foreach($mdOrderFile in $mdOrderFileList)
							#set($index = ${velocityCount})  
							<tr>
                                <td>
									<p>$!mdOrderFile.fileName</p>
									<p>$!mdOrderFile.remarks</p>
								</td>
                                <td>
									#foreach($turnaroundPrice in $turnaroundPriceList)
										#if($!turnaroundPrice.value == $orderDetail.turnaroundTime)
    										<p>$!turnaroundPrice.desc</p>
    										<p>$$!turnaroundPrice.label/min</p>
										#end
									#end
            					</td>
								<td>
									#foreach($otherServices in $otherServicesList)
										#if($!orderDetail.otherServices.indexOf($otherServices.value) > -1)
    										<p>$!otherServices.desc $$!otherServices.label/min</p>
										#end
									#end
            					</td>
            					<td>$!mdOrderFile.size M</td>
            					<td>$!mdOrderFile.length min</td>
            					<td>$!orderDetail.deliveryDate</td>
                            </tr>
                        #end  
        			</tbody>
        		</table>
        	</div>
        	
        	<div class="mynewline clearfix">
        		<div class="mynewline-left"></div>
        		<div class="mynewline-middle"><h3>REMARKS</h3></div>
        		<div class="mynewline-right"></div>
        	</div>
        	
        	<div class="myTextBox">
        		<p>$orderDetail.remarks</p>
        	</div>
        	
        	<div class="mynewline1 clearfix">
        		<div class="mynewline1-left"></div>
        		<div class="mynewline1-middle"><h3>ORDER TOTAL &nbsp;&nbsp;&nbsp;&nbsp;<span class="hasred">$orderDetail.price USD</span> </h3></div>
        		<div class="mynewline1-right"></div>
        	</div>
        </div>
	</div>
</body>
</html>